.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-sec {
  width: 70px;
  position: relative;
  margin-left: 40px;
}
.logo {
  width: 100%;
}

.logo-sec p {
  position: absolute;
  font-size: 10px;
  left: 5px;
  bottom: 5px;
}
.navbar .profile {
  width: 40px;
  margin-right: 60px;
}
